/*
Colors:
#333333
#222222
#111111
#ffab1c

Fonts:
Titillium Web
Noto Sans
*/

body {
  padding: 0;
  margin: 0;
  background-color: #222222;
}

/* Navbar_start */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

#title {
  float: left;
}

#title a {
  background-color: #111111;
  color: #ffab1c;
  font-family: "Titillium Web";
  font-weight: 700;
  font-size: 1.5em;
  padding: 0px 20px;
}

li {
  float: left;
}

li a {
  display: block;
  color: #111111;
  text-align: center;
  padding: 5px 20px;
  text-decoration: none;
  font-family: "Noto Sans";
  font-size: 1em;
  padding-top: 8px;
}

li a:hover {
  color: #ffab1c;
}
/* Navbar_end */
