/*
Colours :
#88bdbc
#254E58
#112D32
#6E6658
#4F4A41
*/

body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  background-color: #88bdbc;
  color: white;
}

/* Navbar_start */
.grid-navbar {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr, 1fr, 5fr, 1fr, 1fr;
  grid-template-areas:
    "navbar-left navbar-left title navbar-right navbar-right";
}

.title {
  background-color: #4F4A41;
  text-align: center;
  width: auto;
  grid-area: title;
}

.title h1 {
  margin: 0px;
  padding: 0px;
  font-family: "Titillium Web";
  font-size: 1.5em;
}

.navbar-left {
  background-color: #6E6658;
  width: auto;
  grid-area: navbar-left;
}

.navbar-right {
  background-color: #6E6658;
  width: auto;
  grid-area: navbar-right;
}
/* Navbar_end */
